h1,h2,h3,h4,h5,h6
	{
		letter-spacing: 1px;
		font-weight: 300;
}

ul {
    list-style-type: none;
    font-weight: 200;
    margin: 10;
    padding: 10;
    overflow: hidden;
    background-color: #CDC1C5;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}